@font-face {
    font-family: 'Hanna';
    src: url('../../public/fonts/BMHANNA_11yrs_ttf.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('../..//public/fonts/NanumGothic-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    max-width: 500px;
    width: 500px;
    margin: 0 auto;
    min-height: 100%;
    font-family: 'Hanna';
}

.background{
    background-color: #f0ededd3;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
}